@{
    ViewBag.Title = "About";
}
<div style="background-color:white;text-align:center;margin-left:200px;margin-right:200px;border-radius:30px">
    <h1 style="text-align: center; font-weight: bolder; font-size: 30px">About us </h1>

    <div style="text-align:center; display:flex;justify-content:center;align-items:center;font-weight:bold;font-size:18px;background-color:white">
        <p style="padding:10px">
            This project aims complete on GYM process.
            The Process starts with Membership when Member
            is newly joining GYM he is been registered in GYM Software by System User while registering he will ask to Member for which type of Scheme he will like to take (GYM+CARDIO OR GYM) and for how much period he will be joining GYM (Quarterly, Half Yearly, Yearly) According to this the Fees of GYM will be decided. After registering The Member is given a Receipt and Declaration form. The Receipt is sign be System User and Declaration form is been sign by Member who is joining the GYM along with this Member is told to provide legal Document proof of Address and Photo Identity. Now the Member can use GYM facilities till Period has paid for Services after completion of service he need to renew Membership it from System User for next Period ( Quarterly , Half Yearly , Yearly) and pay Fee to System User for that Period. The System user also has a Rights to check How much Amount has been Collected this month by seeing Month wise (Month wise Report Download) Report and if he want to check how much Amount has been collected this year than he can view Year wise Report (Year wise Report Download) and Finally he can also check which user renewal is upcoming to notify him about his renewal of Membership by viewing renewal Report.
        </p>


    </div>
</div>
