@{
    ViewBag.Title = "Contact";
}



<div style="background-color:white;text-align:center;margin-left:200px;margin-right:200px;border-radius:30px">
    <h1 style="font-size:30px">Team Member's Information</h1>
    <section class="contact" style="font-size:18px">
        <header>
            <h3>Phone</h3>
        </header>
        <p>
            <span class="label">Shimanta Sarker:</span>
            <span>01754678931</span>
        </p>
        <p>
            <span class="label">Shawly Rohman:</span>
            <span>01956789045</span>
        </p>
        <p>
            <span class="label">Jain Jannath:</span>
            <span>01656789045</span>
        </p>
    </section>

    <section class="contact" style="font-size:18px">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Shimanta Sarker:</span>
            <span><a href="simantasarker0000@gmail.com">simantasarker0000@gmail.com</a></span>
        </p>
        <p>
            <span class="label">Shawly Rohman:</span>
            <span><a href="shawly.2015@gmail.com">shawly.2015@gmail.com</a></span>
        </p>
        <p>
            <span class="label">Jain Jannath:</span>
            <span><a href="adhorajannat8@gmail.com">adhorajannat8@gmail.com</a></span>
        </p>
    </section>

    <section class="contact" style="font-size:18px">
        <header>
            <h3>Address</h3>
        </header>
        <p>
            141 & 142, Love Road, <br />
            Tejgaon Industrial Area, Dhaka-1208 .

        </p>
    </section>
</div>